* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #1d2138;
    position: relative;
}

header {
    display: flex;
    justify-content: center;
}

.preview {
    width: fit-content;
    position: relative;
}